.DS_Store

## viscose
*.code-workspace

## dataset
*.npy
*.h5
/checkpoint
/web/data

## JS
node_modules
/dist

# local env files
.env.local
.env.*.local

# local archive files
/archive

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?  

# Pyton related 
env/
*.pyc
node_modules/
npm-debug.log
.idea/
__pycache__/
.ipynb_checkpoints/

# Playground
web/notebook
_trash/