/* COLORS */
:root {
    --text: rgb(22, 21, 21); 
    --dark-blue: rgb(55, 70, 132);
    --blue: rgb(49, 160, 220);
    --light-blue: rgb(182, 213, 241);
    --pink: rgb(210, 70, 93);
    --light-pink: rgb(238, 196, 210);
    --gray: rgb(111, 108, 108);
    --light-gray: rgb(232, 228, 228);
}

::-moz-selection { /* highlight color */
    background: var(--blue);
    color: white;
}

::selection {
    background: var(--blue);
    color: white;
}

.blue {
    color: var(--blue);
}

.pink {
    color: var(--pink);
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { /* add smooth scrolling behavior */
    scroll-behavior: smooth;
}

body { /* default styling for whole document body */
    font-family: Mulish;
    font-size: calc(14px + 0.4vw);
    line-height: calc(20px + 0.6vw);
    font-weight: 300;
    color: var(--text);
    min-height: 100vh;
    overflow-x: hidden;
}

/* FONT STYLING */
p { /* page text styling */
    margin-bottom: calc(10px + 0.5vw);
    transition: 0.5s;
}

p:last-child {
    margin-bottom: 0;
}

.bold {
    font-weight: 700;
}

.center {
    text-align: center;
}

h1, h2, h3, h4, h5 { /* headings */
    font-family: Be Vietnam Pro;
    font-weight: 800;
    transition: 0.5s;
}

h1 {
    line-height: calc(32px + 1.5vw);
    font-size: calc(20px + 1vw);
    margin-bottom: 10px;
}

h3 {
    font-size: calc(18px + 1vw);
    line-height: calc(36px + 2vw);
    font-weight: 400;
}

h5 {
    font-size: calc(16px + 0.4vw);
    line-height: calc(20px + 1vw);
    font-weight: 600;
}

a, .link { /* links */
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: 400;
    transition: 0.5s;
    font-size: smaller;
    cursor: pointer;
    font-family: monospace;
    border-bottom: 1px solid transparent;
}

a:hover, .link:hover {
   opacity: 0.8;
   border-bottom: 1px solid var(--dark-blue);
}

.emphasis {
    font-style: italic;
    font-weight: 300;
    letter-spacing: 4px;
}

.mono {
    font-family: monospace;
    letter-spacing: 4px;
    font-weight: 100;
    font-size: larger;
}

.bar {
    margin-left: 6px;
    margin-right: 10px;
}

/* MAIN CONTENT */
#content {
    margin: calc(12px + 1.2vw) calc(20px + 2vw);
}

#graph {
    margin-top: -50px;
}

#graph.active {
    margin-top: 20px;
}

#view-all.inactive {
    pointer-events: none;
}

.main-svg {
    background: transparent !important;
}

.modebar {
    top: 60px !important;
}

#matrix {
    display: grid;
    grid-template-columns: 0.5fr repeat(12, 1fr);
    align-items: center;
}

#matrix p {
    font-size: x-small;
    line-height: initial;
    margin-bottom: 0;
}

.mini-plot {
    width: 100%;
    height: calc(20px + 4.5vw);
    transition: 0.5s;
    cursor: pointer;
    border: 2px solid white;
}

.mini-plot:hover {
    opacity: 0.8;
    border: 2px solid var(--light-pink);
    transform: scale(1.1);
}

.axis-label {
    font-weight: 400;
}

.axis-label span {
    display: block;
}

.head-label {
    text-align: center;
}